body {
    font-family: Arial;
    font-size: 12px;
    background: grey;
}

header {
    background-color: #84cb00;
    padding: 5px;
    text-align: center;
}

header nav {
    text-align: center;
    background: rgb(19, 86, 19);
    overflow: hidden;
    padding: 5px;
}

header nav a {
    color: #fff;
    background: #0a700a;
    padding: 5px;
}

header nav a:hover {
    background: rgb(8, 253, 8);
}

main {
    background: white;
    padding: 5px;
}

main section {
    overflow: hidden;
}

main section a:hover {
    font-weight: bold;
}

.background-red {
    background: red;
}

.background-green {
    background: green;
}

.background-aqua {
    background: aqua;
}

.top-headline {
    color: blue;
}

.main-link {
    text-transform: uppercase;
}

main section p img {
    width: 200px;
    float: left;
    margin-right: 5px;
}

footer {
    padding: 5px;
}